{% extends 'baseAdmin.html.twig' %}

{% block title %}Exp index{% endblock %}

{% block body %}
    <h1>Exp index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Content</th>
                <th>IsFinished</th>
                <th>Start</th>
                <th>End</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exp in exps %}
            <tr>
                <td>{{ exp.id }}</td>
                <td>{{ exp.name }}</td>
                <td>{{ exp.content }}</td>
                <td>{{ exp.isFinished ? 'Yes' : 'No' }}</td>
                <td>{{ exp.start ? exp.start|date('Y-m-d') : '' }}</td>
                <td>{{ exp.end ? exp.end|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="edit" href="{{ path('app_exp_edit', {'id': exp.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="new" href="{{ path('app_exp_new') }}">Create new</a>
{% endblock %}
