{% for quest in quests %}
    <div class="quest" data-id="{{ quest.id }}" data-src="{{ url("ajax_main_quest_content") }}">
        <div class="quest-header">
            <span class="category">{{ quest.category.name }}</span>
        </div>
        <div class="quest-title">
            <p>{{ quest.name }}</p>

            {% if quest.isFinished %}
                <i class="fa-solid fa-check check"></i>
            {% endif %}
        </div>
        <div class="quest-footer">
            {% if quest.end is not null %}
                <span>{{ quest.start|date("M Y") }} to {{ quest.end|date("M Y") }}</span>
            {% else %}
                <span>{{ quest.start|date("M Y") }} to Today</span>
            {% endif %}
        </div>
    </div>
{% endfor %}