<nav>
    <a href="{{ path("app_skill_index") }}">Skills</a>
    <a href="{{ path("app_exp_index") }}">Quests</a>
    <a href="{{ path("app_experience_category_index") }}">Quests Categories</a>
    <a href="{{ path("app_project_index") }}">Projects</a>
    <a href="{{ path("app_project_category_index") }}">Projects Categories</a>
</nav>